body {
    margin: 0px;
    background-color: blanchedalmond;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    background-color: black;
    color: blanchedalmond;
    font-size: 25px;
}

.statisticsBanner {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    background-color: black;
    color: antiquewhite;
    font-size: 25px
}

.projectListContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.singleProjectContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 30%;
    border: 7px solid black;
    border-radius: 1%;
    padding: 5px;
    margin: 5px
}

.employeeList {
    text-align: left;
}

li {
    list-style: none;
}

.employeeBio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px
}

.employeeAvatar {
    width: 10%;
    height: auto;
    object-fit: contain;
}

.employeeDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.clientBio {
    text-align: center;
    padding: 10px;
    font-size: 40px;
}