body {
    margin: 0px;
    background-color: blanchedalmond;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    background-color: black;
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.statisticsBanner {
    background-color: black;
    color: antiquewhite
}

.projectListContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.singleProjectContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 30%;
    border: 7px solid black;
    border-radius: 1%;
    padding: 5px;
    margin: 5px
}

.employeeList {
    text-align: left;
}